<div class="flex flex-column justify-between p-3 border-round-xl mt-1 ml-1"   style="height: 98%; width: 99%; background-color: #efefef;">
   
    <div class="flex flex-column gap-4">
      <div class="flex align-items-center gap-2">
        <div class="w-2rem h-2rem border-round-sm bg-gray-300"></div>
        <span class="text-color-secondary text-lg">Weather</span>
      </div>
  
      <div class="flex align-items-center gap-2">
        <span class="material-icons text-orange-500">home</span>
        <span class="text-orange-500 text-lg font-medium">Home</span>
      </div>
    </div>
  
    <div class="flex align-items-center gap-2">
      <span class="material-icons text-gray-700">person</span>
      <span class="text-color-secondary">Hello, User</span>
    </div>
    
</div>
  