<div class="all">
    <div class="title">
        <p style="color:#636363; font-size: 1.1em; font-weight: bold; ">Today's highlight</p>
    </div>
    <div class="city-info">
    <div class="left">
        <div class="left-left-column">
            <div class="temperature">
                <app-apparent-temperature [temperature]="weatherData.apparentTemperature"></app-apparent-temperature>
            </div>

            <div class="precipitation-probability"> 
                <app-precipitation-probability [probabiliy]="weatherData.maxPrecipitationProbabilityToday.prob"></app-precipitation-probability>
            </div>
        </div>
        <div class="left-right-column">
            <div class="precipitation"></div>
            <div class="other">
                <div class="left">
                    <div class="visibility"></div>
                    <div class="uv"></div>
                </div>
                <div class="right">
                    <app-temperature ></app-temperature>
                </div>
            </div>
        </div>
    </div>

    <div class="chart-area">
        Aici va fi graficul
    </div>
</div>
</div>