<div class="all">
    <div class="title">
        <p style="color:#636363; font-size: 1.1em; font-weight: bold; ">Today's highlight in {{city()}}</p>
    </div>
    <div class="city-info">
    <div class="left">
        <div class="left-left-column">
            <div class="temperature">
                <app-apparent-temperature [temperature]="weatherData.apparentTemperature"></app-apparent-temperature>
            </div>

            <div class="precipitation-probability"> 
                <app-precipitation-probability [probabiliy]="weatherData.maxPrecipitationProbabilityToday.prob"></app-precipitation-probability>
            </div>
        </div>
        <div class="left-right-column">
            <div class="precipitation"><app-precipitations [precipitations]="weatherData.precipitation"></app-precipitations></div>
            <div class="other">
                <div class="left">
                    <div class="visibility">
                        <app-visibility [visibility]="weatherData.visibilityNow"></app-visibility>
                    </div>
                    <div class="uv">
                        <app-uv [uv]="weatherData.UVIndex" ></app-uv>
                    </div>
                </div>
                <div class="right">
                    <app-temperature [maxT]="weatherData.maxTemperatureToday" [minT]="weatherData.minTemperatureToday" ></app-temperature>
                </div>
            </div>
        </div>
    </div>

    <div class="chart-area">
        Aici va fi graficul
    </div>
</div>
</div>