<div class="all">
    <div class="city-info">
    <div class="left">
        <div class="left-left-column">
            <div class="temperature">
                <app-temperature [temperature]="temperature"></app-temperature>
            </div>

            <div class="precipitation-probability"> Precip component
            </div>
        </div>
        <div class="left-right-column">
            <div class="precipitation"></div>
            <div class="other">
                <div class="left">
                    <div class="visibility"></div>
                    <div class="uv"></div>
                </div>
                <div class="right"></div>
            </div>
        </div>
    </div>

    <div class="chart-area">
        Aici va fi graficul
    </div>
</div>
</div>